<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteCSTB">
  <test thread-count="5" name="SmokeTestCSTB">     <!-- Only verifying the tabs -->
    <classes>
      <class name="test.Day1">
      <methods>
               <include name="verify.*" />
       </methods>	
       </class>
    </classes>
  </test> <!-- SmokeTestCSTB -->
  
  <test thread-count="5" name="ScreenTestCSTB">    <!-- Checking AboutUs and Exams tab screens -->
    <classes>
      <class name="test.Day1">
      <methods>
               <include name="screen.*" />
       </methods>	
       </class>
    </classes>
  </test> <!-- SmokeTestCSTB -->
  
</suite> <!-- SuiteCSTB -->
